.menu {
  display: flex;
  padding-left: 40px;
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  color: tomato;
}
.menu li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}
