* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

/* সিনিয়র ভাইদের কাছে একটা প্রশ্ন প্রফেশনালি অ্যাপ্লিকেশনে ভেরিফাই মেসেজ সিস্টেম  এবং ইমেইল ভেরিফিকেশন সিস্টেমের জন্য কি ব্যবহার করে থাকে থাকেনসিনিয়র ভাইদের কাছে একটা প্রশ্ন প্রফেশনালি অ্যাপ্লিকেশনে ভেরিফাই মেসেজ সিস্টেম  এবং ইমেইল ভেরিফিকেশন সিস্টেমের জন্য কি ব্যবহার করে থাকে থাকেন */
